@import url(https://fonts.googleapis.com/css?family=Lobster|Montserrat|Playfair+Display);

* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  font-family: 'Lobster', cursive;
  left: 50%;
  border-left: 2px solid #8AB5D8;
}

body:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #A9DCF5;
}


h1 {
  color: #FCF6E0;
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 0.4em;
  line-height: 1.5em;
  word-break: break-all;
  width: 1em;
}

h1.team {
  margin-left: 46%;
  /*position: absolute;*/
}
h1.creds {
  margin-left: 52%;
  /*position: absolute;*/
}

/* content area */

.quote-wrapper {
    margin-top: 45px;
}

.title-container > h3 {
  font-size: 1.8em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  margin: 20px auto;
  color: #313639;
}

.input-form {
  margin-bottom: 20px;
}

.btn {
  font-size: 1.35em;
  border-radius: 30px;
}

#quote-content {
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;;
}


#quote-person {
    font-size: 1.3em;
    text-align: right;
}


/* wiki */

.wiki-wrapper {
  margin-top: 40px;
}

.wiki-container {
  position: relative;
  width: 650px;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  /*background-color: #E2F5FC;*/
  /*border: 1px solid black;
  border-radius: 20px;*/
}

.quoted-by-image-container > img {
  border-radius: 150px;
}

.readmore {
  color: red;
}

.readmore:hover {
  text-transform: capitalize;
  text-decoration: none;
}


/* ---- Weather ---- */

.weather-wrapper {
  position: fixed;
  vertical-align: top;
  right: 0px;
  text-align: right;
  color: #F0FFFF;
  margin-right: 10px;
}

.weather-wrapper > h3 {
  font-size: 1.5em;
}
#weather-forecast {
  font-size: 1.1em;
}


/* another loader */

.loader-wrapper{
  display: block;
  position: absolute;
  top: 40%;
  left: 49%;
}

.loader {
  position: relative;
  width: 62px;
  height: 77px;
  margin: 0 auto;
  zoom: .5;
  display: none;
}
.loader div {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0);
  transform: scale(0.4);
  animation: fadeG 0.72s infinite linear;
  border-radius: 8px;
}
.loader div:nth-of-type(1) {
  left: -12px;
  top: 28px;
  animation-delay: 0.27s;
  transform: rotate(-90deg);
}
.loader div:nth-of-type(2) {
  left: -4px;
  top: -2px;
  animation-delay: 0.36s;
  transform: rotate(-45deg);
}
.loader div:nth-of-type(3) {
  left: 26px;
  top: -9px;
  animation-delay: 0.45s;
  transform: rotate(0deg);
}
.loader div:nth-of-type(4) {
  right: -4px;
  top: -2px;
  animation-delay: 0.54s;
  transform: rotate(45deg);
}
.loader div:nth-of-type(5) {
  right: -12px;
  top: 28px;
  animation-delay: 0.63s;
  transform: rotate(90deg);
}
.loader div:nth-of-type(6) {
  right: -6px;
  bottom: -18px;
  animation-delay: 0.72s;
  transform: rotate(135deg);
}
.loader div:nth-of-type(7) {
  bottom: -24px;
  left: 26px;
  animation-delay: 0.8099999999999999s;
  transform: rotate(180deg);
}
.loader div:nth-of-type(8) {
  left: -4px;
  bottom: -18px;
  animation-delay: 0.9s;
  transform: rotate(-135deg);
}
@keyframes fadeG {
  0% {
    background-color: #0e0d0d;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

/* Styling the svg loader
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*.loader {
  z-index: 10;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}

.loader svg path,
.loader svg rect {
  fill: #c5ccd4;
}*/
